<div class="row dashboard-container">
  <div class="col-xs-12">
    <div class="dashboard-selection-main">
      <div class="dashboard-selection-left">
        <div class="card card-block">
          <div class="inline-block text-xs-center" style="width: 7.5rem;">
            <img src="/assets/images/head_01.jpg" alt="" style="width: 90px; height:  90px; border-radius: 50%; overflow: hidden;"/>
            <div style="margin: 0.5rem 0;">* Tao</div>
            <div style="margin: 0.5rem 0;"><i class="fa fa-wechat" style="color: #ccc; font-size: 1.2rem;"></i> <a href="#">我的社区</a> <span class="tag tag-warning" style="padding: 0.15rem 0.3rem; font-weight: normal;">HOT</span></div>
          </div>
        </div>
      </div>
      <div class="dashboard-selection-right">
        <div class="card no-border">
          <div class="card-block tuijian tuijian-a">
            <h6 class="card-title">功能女女女女女</h6>
            <p>所得分数丰富的</p>
          </div>
          <div class="card-block tuijian tuijian-b">
            <h6 class="card-title">功能女女女女女</h6>
            <p>所得分数丰富的</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>