/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  //font-size: 75%;
}

body {
    //font-size: 0.75rem;
    font-family: "\5FAE\8F6F\96C5\9ED1","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53";
}

cui-fixed-layout {
  width: 100%;
  height: 100%;
  display: block;
}

cui-header {
  height: 4rem;
}

cui-sidebar-container {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidebar-nav {
  .nav-item {
    .nav-title,
    .nav-link {
      line-height: 3.25rem;
      display: block;
      border-bottom: 1px #222 solid;
      color: #ddeeee;
      font-size: 1rem;
      white-space: nowrap;

      .nav-icon {
        width: 4rem;
        text-align: center;
        font-size: 1.5rem;
        line-height: 3.25rem;

        &.fa-caret {
                font-size: 1rem;
            }
      }
      .nav-text {
          line-height: 3.25rem;
      }
    }

    
  }

  .nav-dropdown{

            .nav-dropdown-items {
                display: none;
                padding: 0;
                margin: 0;
                @extend .sidebar-nav;
            }

            > .nav-dropdown-toggle {
                > .fa-caret:before {
                    content: "\f0d7"
                }
            }

            &.opened {
                > .nav-dropdown-toggle {
                    > .fa-caret:before {
                        content: "\f0d8"
                    }
                }

                .nav-dropdown-items{
                    display: block;
                }
            }
        }
}

.fold {
  .nav-text {
      display: none;
  }
}


.console-title {
    padding: 0.75rem 0 0.5rem 0;

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.166666rem;
        font-weight: normal;
        border-left: 0.2rem solid green;
        line-height: 1.5rem;
        display: inline-block;
        margin: 0.75rem 0;
        padding-left: 0.75rem;
        vertical-align: middle;
    }

    &-border {
        border-bottom: 1px solid #ddd;
    }
}


.no-border {
    border: none;
}
.no-padding {
        padding: 0 !important;
    }
.inline-blick{
    display: inline-block;
}

// tables
.table {
    background: #FFF;
    font-size: 1rem;
    border-top: 1px solid #e1e6eb;
    margin-top: .75rem;
    border: 1px solid #e1e6eb;
}

.table thead tr th {
    padding: .75rem .75rem;
    font-weight: normal;
    color: #999;
    border-bottom: 1px solid #e1e6eb;
    background-color: #F5F6FA;
}

.table tbody tr td {
    padding: .9rem .75rem;
    border-top: 0px;
    border-bottom: 1px solid #e1e6eb;
    vertical-align: middle;
}

.table tfoot tr td {
    padding: 1rem .75rem;
    border-bottom: 1px solid #e1e6eb;
    vertical-align: middle;
    background-color: rgba($color: #F5F6FA, $alpha: 0.2);
}

.table-before{
    .search-bar{
        display: inline-block;

        .search-input-text, input.form-control{
            min-width: 15rem;
        }
    }

    input.form-control{
            min-width: 15rem;
        }
}

.datatables-pagination {
    height: 2.5rem;
    //overflow: hidden;
    .pagination {
        padding: 0;
        margin: 0;
        line-height: 1.25rem;

        li {
            display: inline;
            //position: relative;
            //float: left;
            //margin-left: -1px;
        }
        li > a, li > span {
            float: left;
            position: relative;
            padding: 0.5rem .75rem;
            margin-left: -1px;
            color: #20a8d8;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }
        
        li > span {
            color: #aaaaaa;

            &.text-success{
                color: #4dbd74;
            }
        }

        li > span > select, li > span > input{
            border: none;
            height: 2.25rem;
            padding: 0.5rem 0.3rem;//0.75rem;
        }
        li > span > input{
            text-align: center;
        }
    }
}